body {
  background: url('/images/body-bg.png');
  background-size: 0.3rem;
}

/* --------------------
    HEADER STYLES 
-------------------- */
/* search container */
#search__container {
  max-width: 34.375rem;
  margin: 0 auto;
  z-index: 999;
}

/* --------------------
      MAIN STYLES 
-------------------- */
/* error container */
#error__container {
  background: #f10c6b;
  background: linear-gradient(to left, #dd40c3, #da0d62);
  max-width: 31.25rem;
  height: 25rem;
  margin: 1.25rem auto;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  animation: radius-change 1s ease-in infinite;
}

/* error container border radius changing animation */
@keyframes radius-change {
  0% {
    border-radius: 37% 38% 34% 31% / 27% 48% 35% 28%;
  }
  25% {
    border-radius: 32% 33% 18% 60% / 27% 55% 25% 45%;
  }
  50% {
    border-radius: 97% 2% 53% 82% / 32% 18% 66% 46%;
  }
  75% {
    border-radius: 53% 19% 40% 28% / 70% 18% 66% 14%;
  }
  100% {
    border-radius: 37% 38% 34% 31% / 27% 48% 35% 28%;
  }
}

/* error text and bug icon container */
#error {
  position: absolute;
  left: 7%;
  max-width: fit-content;
  height: fit-content;
  padding: 3.125rem;
}

/* bug icon */
#bug {
  position: absolute;
  font-size: 3.125rem;
  transform: rotate(-90deg);
  animation: bug-animate 2.5s linear infinite;
  opacity: 0.5;
}

/* bug moving animation */
@keyframes bug-animate {
  0% {
    left: 0;
    transform: rotate(90deg);
  }
  49% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
    left: 80%;
  }
  99% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
    left: 0;
  }
}

/* error text */
.error__text {
  font-size: 3.125rem;
}

/* moving circles container */
.circles {
  width: 100%;
  height: 100%;
}

/* all circles  */
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 1.25rem;
  height: 1.25rem;
  background: rgba(220, 131, 228, 0.274);
  animation: animate 20s linear infinite;
  bottom: -12.5rem;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 5rem;
  height: 5rem;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 1.25rem;
  height: 1.25rem;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 1.25rem;
  height: 1.25rem;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 3.75rem;
  height: 3.75rem;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 1.25rem;
  height: 1.25rem;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 6rem;
  height: 6rem;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 9rem;
  height: 9rem;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 1rem;
  height: 1rem;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 9rem;
  height: 9rem;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* circle up and down animation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-62.5rem) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* loader container */
.loader {
  background-color: #222;
  max-width: fit-content;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

/* all loaders body */
.loader div {
  margin: 0.625rem 0.3rem;
}

.loader__cover {
  width: 10rem;
  height: 12.5rem;
  border-radius: 0.625rem;
}

.loader__title {
  width: 15.625rem;
  height: 1.25rem;
}

.loader__author {
  width: 12.5rem;
  height: 1.25rem;
}

.loader__year {
  width: 13.75rem;
  height: 1.25rem;
}

.loader__publisher {
  width: 11.25rem;
  height: 1.25rem;
}

.loader__animate {
  background: #f6f7f8
    linear-gradient(to right, #a2c0b8 8%, #63ccf5 18%, #a2c0b8 33%);
  background-size: 50rem 6.5rem;
  animation: gradient 1s linear infinite forwards;
}

/* loader gradient moving from left to right animation */
@keyframes gradient {
  0% {
    background-position: -29.25rem 0;
  }
  100% {
    background-position: 29.25rem 0;
  }
}
