#bug {
  position: absolute;
  font-size: 50px;
  transform: rotate(-90deg);
  animation: bugs 3s linear infinite;
  opacity: 0.5;
}

@keyframes bugs {
  0% {
    left: 0px;
    transform: rotate(90deg);
  }
  49% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
    left: 80%;
  }
  99% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
    left: 0px;
  }
}

#error {
  position: relative;
  max-width: fit-content;
  height: fit-content;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.error__text {
  font-size: 100px;
}

.box-1,
.box-2,
.box-3 {
  width: 33%;
}

@media screen and (max-width: 700px) {
  .error__text {
    font-size: 40px;
  }
}

/* extra work */

#error__container {
  background: #f10c6b;
  background: linear-gradient(to left, #dd40c3, #da0d62);
  width: 500px;
  height: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: radius-change 1s ease-in infinite;
}

@keyframes radius-change {
  0% {
    border-radius: 37% 38% 34% 31% / 27% 48% 35% 28%;
  }
  25% {
    border-radius: 32% 33% 18% 60% / 27% 55% 25% 45%;
  }
  50% {
    border-radius: 97% 2% 53% 82% / 32% 18% 66% 46%;
  }
  75% {
    border-radius: 53% 19% 40% 28% / 70% 18% 66% 14%;
  }
  100% {
    border-radius: 37% 38% 34% 31% / 27% 48% 35% 28%;
  }
}
.circles {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
